<!--いいね機能非同期用共通フォーム-->
<% if post.favorited_by?(current_user) %>
   <%= link_to post_favorites_path(post),method: :delete, remote: true do %>
   <span class="glyphicon glyphicon-heart"><%= post.favorites.count%></span>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(post),method: :post ,remote: true do %>
  <span class="glyphicon glyphicon-heart-empty"><%= post.favorites.count %></span>
  <% end %>
 <% end %>